@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --orange-dark:#EA7600;
}

body{
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
  margin: 0 auto;
  max-width: 1110px;
  background-color: var(--light);
}


h1,h2,h3,h4{
  line-height: 1.2em;
  font-family: 'Neucha';

}

h1{
  font-size: 72px;
  font-weight: 400;

}

h2{
  font-size: 60px;
}

h3{
  font-size: 34px;
}

 .background::before{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
  z-index: -1;
 

}

.header{
  position: relative;
  
}

.container{
margin-top: 100px;
margin-bottom: 100px;
}

.img{
  position: absolute;
  top:-45px;
  right: -270px;
  height: 525px;
  z-index: -1;

} 
.header-h{
  color: var(--primary);
}
.header-text{
  display: flex;
  gap: 30px;
  margin-top: 185px;
}

.header-col{
  flex-basis: 50%;
}


.btn{
  
  background-color:var(--primary);
  padding: 12px 24px 12px 24px;
  color:var(--white);
  font-weight: 700;
  display: inline-block;
  text-align: center;
text-decoration: none;
margin-top: 20px;
}

.btn:hover {
  background-color:var(--orange-dark);
}

