@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("../fonts/Neucha.ttf");
}
:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --orange-dark:#EA7600;
}

/* RESET */
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  z-index: 1;
}
h3{
  color: var(--primary);
}


a {
  color: inherit;
  text-decoration: none;
}



body{
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
  margin: 0 auto;
  background-color: var(--light);
  overflow-x: hidden;
}



h1,h2,h3,h4{
  line-height: 1.2em;
  font-family:  Neucha, sans-serif;
  font-weight: 400;
}

h1{
  font-size: 72px;
  font-weight: 400;
 
}

h2{
  font-size: 60px;
}

h3{
  font-size: 34px;
}

.header-h{
color: var(--primary);
}
header{
  position: relative;
  overflow: hidden;
}
.bg-image::before{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
  z-index: -2;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;

  position: relative;
  
}
 
.header-img{
  position: absolute;
  top:55px;
  right:-270px;
  height: 525px;
  z-index: -1;
}

.header-content{
  display: flex;
  gap: 30px;
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0px;

  justify-content: center;
padding-top: 89px;

}



.header-content div {
  flex-grow: 1;
  flex-basis: 0;

  
}

.header-content p {
margin-top: 12px;

}



.btn{
  background-color:var(--primary);
  padding: 12px 24px;
  color:var(--white);
  font-weight: 700;
  display: inline-block;
  text-align: center;
text-decoration: none;
margin-top: 24px;
}
.btn:hover {
  background-color:var(--orange-dark);
}


.flex-width-50 {
  width: 50%;
}


main{

}
.heading-video{

}
.video-content {
background-color: var(--white);
margin: 0 auto;
text-align: center;

}

.p-content{
  padding-top: 14px;
  padding-bottom: 14px;
}


.container-video{
  padding: 0;
  position: relative;
  bottom: -100px;

}

.img-video{

  width: 919px;
  height: 517px;
  z-index: 2;
  border: none;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  padding: 0;
}

.navigation{
  background-color: var(--primary-dark);
  padding-top: 200px;
  
}

.nav{
  display: flex;
  gap: 30px;
  margin: 0 auto;
  justify-content: center;
}

.nav-bottom{
  display: flex;
  gap: 30px;
  margin: 0 auto;
  justify-content: center;
}
.nav-bottom div{
  height:300px ;
}


.flex-el{
  width: 302px;
height: 275px;
  background-color: var(--light);
padding: 24px;
margin-bottom: 20px;
}



.flex-el-title{
  width: 350px;
  display: block;
 
}
.text-white{
  color: #fff;
}


.nav-h {
font-size: 52px;
}

.number-nav{
  padding: 0;
  margin: 0;
font-size: 64px;
padding-bottom: 40px;
  font-family:  Neucha, sans-serif;
  line-height: 1;
}
















/* .bg_image::before{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
  z-index: -1;
}


.container{
  position: relative;
width: 1110px;
margin: 0 auto;
padding-top: 55px;
}

.img{
  position: absolute;
  top:55px;
  right: -270px;
  height: 525px;
  z-index: -1;

} 
.header-h{
  color: var(--primary);
}
.header-text{
  display: flex;
  margin: 0 auto;
  gap: 30px;
  padding: 130px 0;
}

.header-col{
  flex-basis: 50%;
}


.btn{
  
  background-color:var(--primary);
  padding: 14px 24px;
  color:var(--white);
  font-weight: 700;
  display: inline-block;
  text-align: center;
text-decoration: none;
margin-top: 20px;

}

.btn:hover {
  background-color:var(--orange-dark);
} */

/* Другой код*/

/* 
.header-h{
  color: var(--primary);

}

.bg-image {
  position: relative;
}


  .bg-image::before {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
  
    background-image: url("../images/background.png");
  
    background-repeat: no-repeat;
  
    background-size: cover;
  
    opacity: 0.1;
  
    content: "";
    
  }

  header {
    position: relative;
  }

  .container {
    position: relative;

    width: 1110px;
    margin: 0 auto;
    padding: 100px 0;
  }
  
  .header-image{
    position: absolute;
    top: 55px;
    right: -270px;
    height: 525px;
  }

  .header {
    overflow: hidden;
  
    background-color: var(--light);
  }
  
.header-content-text {
  position: relative;

  display: grid;
  grid-template-columns: 540px 540px;
  gap: 30px;
  margin-top: 202px;
}


  
  .btn{
  display: inline-block;
  padding: 12px 24px;
  margin-top: 22px;
  background:var(--primary);
  color: var(--white);
  text-decoration:none;
  font-size:16px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}
 */
