@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 1.6em;
    color: #2A2626;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    background-color: #F5F4F0;
}
* {
    box-sizing: border-box;
  }

h1,h2,h3{
    line-height: 1.2em;
    font-family: 'Neucha';
    color: #fe8a02;

}

h1{
font-size: 72px;
font-weight: 400;
}
h2{
    font-size: 60px;
    font-weight: 400;
}
h3{
    font-size: 34px;
}
h4{
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase; 
    color: #FFFFFF;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;

  font-weight: inherit;
}
  p{
    margin: 0;
    padding: 0;
  }
  .bg_image::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
  
    opacity: 0.1;
  
    content: "";
  }
  
  .container {
    position: relative;
  
    max-width: 1110px;
    min-height: 900px;
  
    margin: 0 auto;
    padding: 100px 0;
  }
  
  .header_image{
    position: absolute;
    top: 55px;
    right: -270px;
  }

  .text-block{
    display: flex;
    margin-top: 180px;;
    flex-basis: 50%;

  }

  .text-block1{
    margin-right: 30px;
  }

  .flex-width-50 {
    flex-basis: 50%;
  }
  
  .btn{
    
    display: inline-block;
    margin-top: 20px;
  padding: 12px 24px;
  background:#FE8A02;
  color: #FFFFFF;
  text-decoration:none;
  font-size:16px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}

.content_1{
text-align: center;
line-height: 50px;
  text-align: center;
height: 800px;

}

.video{
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));

    border: none;

}

.nav{
    background-color: #42413C;
}
a {
    color: inherit;
    text-decoration: none;
  }
.navigation {
    display: flex;
    flex-flow: row wrap;
      padding-top: 200px;
  }

  
.navigation h2 {
    font-size: 3.25rem;
  }
  
  .navigation a:hover,
  .navigation a:hover h3 {
    color: #fff;
  
    background-color: #fe8a02;
  }
.card{
    width: 350px;
  

}
.gap-1 {
    gap: 30px;
  }
a.card {
    display: block;
  
    padding: 1.5rem;
  
    background-color: #F5F4F0;
  }
  
  .card-number {
    display: inline-block;
    margin-bottom: 2.5rem;
  
    font-size: 4rem;
    font-family: Neucha, sans-serif;
    line-height: 1em;
  }

  .text-white{
    color: #fff;
  }
.orange_c{
    color: #FE8A02;
}


.col{
    position: relative;
    display: flex;

    gap: 30px;
    font-size: 34px;
    font-family: "Neucha";

}
.ikea-effect{
  
}
.img{
    vertical-align: middle;
    filter: drop-shadow(0 16px 32px  rgba(0 0 0 / 15%));

}
.dark{
    color: #2A2626;
}

.translucent-white{
  color: #D7CCC0;
  font-size: 24px;
}

.translucent-dark{
    color: #908d8b;;
    font-size: 24px;
   
}

.bl{
   
}
.test{
    line-height: 40.8px;
    margin-top: 30px;
}

.footer_h{
    background-color: #B09A81;
    margin-top: 100px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-weight: 700;
}




.footer_col{
    display: flex;

    flex-basis: 50%;

  }

  .text-block1{
    margin-right: 30px;
  }

  .flex-width-50 {
    flex-basis: 50%;
  }
  .premature-optimization{
  color: #FFFFFF;
    background-color: #B09A81;
  }
  .footer_h2{
    background-color: #FFFFFF;


  }
  .footer_h2_color{
    color: #B09A81;
    margin-top: 100px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-weight: 700;
  }
  .white{
    color: #FFFFFF;
  }

  .hyperbolic-depreciation{
    color: #FFFFFF;
    background-color: #B09A81;

  }
.errors-in-planning_p{
  padding-bottom: 15px;
}

.footer{
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: #42413C;
  height: 190px;
  padding: 40px 55px;
  color: #FFFFFF;
  font-size: 18px;
}
.footer_column_2{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
input{
  padding: 0;
  margin: 0;
}

input{
  height: 50px;
  padding: 15px;
  border: none;
  width: 100%;
}
.footer_p{
  font-size: 12px;
}
.footer_a{
  text-decoration: underline; 
}

.forma{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9px;

}

.btn_forma{
  position: relative;
  height: 50px;
  width: 70px;

  display: inline-block;

background:#FE8A02;
color: #FFFFFF;
text-align: center;
cursor: pointer;
border: none;
}
.btn_forma::before {
  position: absolute;

  background-image: url("send.svg");
  background-repeat: no-repeat;
  display: block;
top:12px;
right: 0px;
bottom: 0px;
left:20px;
  content: "";
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin-top: 75px;
  font-size: 14px;
  line-height: 20px;
}
button:hover{
  background-color: #EA7600;
}
.btn:hover{
  background-color: #EA7600;
}